.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.def-list-group-scroll {
    max-height: 800px;
    overflow-y: scroll;
}

.def-list-group-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

.def-list-group-scroll::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .75);
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

    .badge {
        font-size: 1.7em
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

    .badge {
        font-size: 1.7em
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .badge {
        font-size: 1.3em
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

    .badge {
        font-size: 1em
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

    .badge {
        font-size: 1em
    }
}